@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Components.Renderers

<div class="pp-field">
	<PortRenderer @key="NodePort" Port="NodePort"/>

	<RadzenStack
		Orientation="Orientation.Horizontal"
		JustifyContent="JustifyContent.SpaceBetween"
		AlignItems="AlignItems.Center"
		Gap="1em"
	>
		<RadzenButton
			ButtonStyle="@(IsPortSelected ? ButtonStyle.Info : ButtonStyle.Secondary)"
			Click="() => OnClickShowData()"
			Icon="list"
			Size="ButtonSize.ExtraSmall"
			Visible="@(NodePort.Alignment == PortAlignment.Left)"
		/>
		<RadzenLabel Visible="@(NodePort.Alignment == PortAlignment.Right)" />

		<RadzenLabel Text="@NodePort.Name" />

		<RadzenButton
			ButtonStyle="@(IsPortSelected ? ButtonStyle.Info : ButtonStyle.Secondary)"
			Click="() => OnClickShowData()"
			Icon="list"
			Size="ButtonSize.ExtraSmall"
			Visible="@(NodePort.Alignment == PortAlignment.Right)"
		/>
		<RadzenLabel Visible="@(NodePort.Alignment == PortAlignment.Left)" />
	</RadzenStack>
</div>