@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Components.Renderers
@using Piper.Core

<div class="pp-field">
	<PortRenderer @key="NodePort" Port="NodePort"/>

	<!-- Input -->
	@if (NodePort.Alignment == PortAlignment.Left)
	{
		<RadzenStack
			Orientation="Orientation.Horizontal"
			JustifyContent="JustifyContent.Left"
			AlignItems="AlignItems.Center"
			Gap=".5em"
		>

			<!-- Modifiers -->
			<RadzenButton
				ButtonStyle="ButtonStyle.Light"
				Click="() => OnClickModifiers()"
				Icon="build"
				Shade="Shade.Darker"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>

			<!-- Show Data -->
			<RadzenButton
				ButtonStyle="ButtonStyle.Light"
				Click="() => OnClickShowData()"
				Icon="list"
				Shade="@(IsPortSelected ? Shade.Default : Shade.Darker)"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>

			<!-- Disconnect -->
			<RadzenButton
				ButtonStyle="ButtonStyle.Light"
				Click="() => NodePort.DisconnectAll()"
				Disabled="!NodePort.IsConnected"
				Icon="close"
				Shade="Shade.Darker"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>

			<!-- Summary -->
			<RadzenStack Orientation="Orientation.Horizontal" Gap=".5em">
				<RadzenIcon Icon="numbers"/>
				<RadzenLabel Text="@(NodePort.InCount.ToString("N0"))"/>
				<RadzenLabel Text="@NodePort.Name"/>
			</RadzenStack>

		</RadzenStack>
	}

	<!-- Output -->
	@if (NodePort.Alignment == PortAlignment.Right)
	{
		<RadzenStack
			Orientation="Orientation.Horizontal"
			JustifyContent="JustifyContent.Right"
			AlignItems="AlignItems.Center"
			Gap=".5em"
		>

			<!-- Summary -->
			<RadzenStack Orientation="Orientation.Horizontal" Gap=".5em">
				<RadzenIcon Icon="numbers" />
				<RadzenLabel Text="@(NodePort.OutCount.ToString("N0"))" />
				<RadzenLabel Text="@NodePort.Name" />
			</RadzenStack>

			<!-- Show Data -->
			<RadzenButton
				ButtonStyle="ButtonStyle.Light"
				Click="() => OnClickShowData()"
				Icon="list"
				Shade="@(IsPortSelected ? Shade.Default : Shade.Darker)"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>

			<!-- Modifiers -->
			<RadzenButton
				ButtonStyle="ButtonStyle.Light"
				Click="() => OnClickModifiers()"
				Icon="build"
				Shade="Shade.Darker"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>

			<!-- Disconnect -->
			<RadzenButton
				ButtonStyle="ButtonStyle.Light"
				Click="() => NodePort.DisconnectAll()"
				Disabled="!NodePort.IsConnected"
				Icon="close"
				Shade="Shade.Darker"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>

		</RadzenStack>
	}
</div>