@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Components.Renderers
@using Piper.Core

<div class="pp-field">
	<PortRenderer @key="NodePort" Port="NodePort"/>

	@if (NodePort.Alignment == PortAlignment.Left)
	{
		<RadzenStack
			Orientation="Orientation.Horizontal"
			JustifyContent="JustifyContent.Left"
			AlignItems="AlignItems.Center"
			Gap="1em"
		>
			<RadzenButton
				ButtonStyle="ButtonStyle.Light"
				Click="() => OnClickShowData()"
				Icon="list"
				Shade="@(IsPortSelected ? Shade.Default : Shade.Darker)"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>

			<RadzenButton
				Click="() => NodePort.DisconnectAll()"
				Disabled="!NodePort.IsConnected"
				Icon="close"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>

			<RadzenStack Orientation="Orientation.Horizontal" Gap=".5em">
				<RadzenIcon Icon="numbers" />
				<RadzenLabel Text="@(NodePort.InCount.ToString("N0"))" />
				<RadzenLabel Text="@NodePort.Name" />
			</RadzenStack>
		</RadzenStack>
	}

	@if (NodePort.Alignment == PortAlignment.Right)
	{
		<RadzenStack
			Orientation="Orientation.Horizontal"
			JustifyContent="JustifyContent.Right"
			AlignItems="AlignItems.Center"
			Gap="1em"
		>
			<RadzenStack Orientation="Orientation.Horizontal" Gap=".5em">
				<RadzenIcon Icon="numbers" />
				<RadzenLabel Text="@(NodePort.OutCount.ToString("N0"))" />
				<RadzenLabel Text="@NodePort.Name" />
			</RadzenStack>

			<RadzenButton
				Click="() => NodePort.DisconnectAll()"
				Disabled="!NodePort.IsConnected"
				Icon="close"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>

			<RadzenButton
				ButtonStyle="ButtonStyle.Light"
				Click="() => OnClickShowData()"
				Icon="list"
				Shade="@(IsPortSelected ? Shade.Default : Shade.Darker)"
				Size="ButtonSize.ExtraSmall"
				Variant="Variant.Outlined"
			/>
		</RadzenStack>
	}
</div>