@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Components.Renderers

<div class="pp-field">
	<PortRenderer @key="Port" Port="Port"/>

	<RadzenStack
		Orientation="Orientation.Horizontal"
		JustifyContent="JustifyContent.SpaceBetween"
		AlignItems="AlignItems.Center"
		Gap="1em"
	>
		<RadzenButton
			ButtonStyle="@(IsPortSelected ? ButtonStyle.Info : ButtonStyle.Secondary)"
			Click="() => OnClickShowData()"
			Icon="list"
			Size="ButtonSize.ExtraSmall"
			Visible="@(Port.Alignment == PortAlignment.Left)"
		/>

		@*
		<RadzenLabel Text="@Port.Id"/>
		*@

		<RadzenFormField Text="Path" Style="width: 100%;">
			<RadzenTextBox />
		</RadzenFormField>

		<RadzenButton
			ButtonStyle="@(IsPortSelected ? ButtonStyle.Info : ButtonStyle.Secondary)"
			Click="() => OnClickShowData()"
			Icon="list"
			Size="ButtonSize.ExtraSmall"
			Visible="@(Port.Alignment == PortAlignment.Right)"
		/>
	</RadzenStack>
</div>