@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets
@using Piper.Core
@using Piper.UI.Components.CodeEditor
@using Piper.UI.Components.Logs
@using Piper.UI.Components.Nodes
@using Piper.UI.Services

@inject ContextMenuService ContextMenuService

@code {

	void ShowContextMenuWithContent(MouseEventArgs args) => ContextMenuService.Open(
		args,
		ds =>
			@<RadzenMenu Click="a => OnMenuItemClick(args, a)">
				<RadzenMenuItem Text="List Files"		Value="@("PP_NODE_LIST_FILES")"></RadzenMenuItem>
				<RadzenMenuItem Text="Read Files"		Value="@("PP_NODE_READ_FILES")"></RadzenMenuItem>
				<RadzenMenuItem Text="Query"			Value="@("PP_NODE_QUERY")"></RadzenMenuItem>
				<RadzenMenuItem Text="Read CSV"			Value="@("PP_NODE_READ_CSV")"></RadzenMenuItem>
				<RadzenMenuItem Text="Read XSLX"		Value="@("PP_NODE_READ_XSLX")"></RadzenMenuItem>

				<RadzenMenuItem Text="SMap"				Value="@("PP_NODE_SMAP")"></RadzenMenuItem>
				@* <RadzenMenuItem Text="Item2" Value="2"></RadzenMenuItem> *@
				@* <RadzenMenuItem Text="More items" Value="3"> *@
					@* <RadzenMenuItem Text="More sub items" Value="4"> *@
						@* <RadzenMenuItem Text="Item1" Value="5"></RadzenMenuItem> *@
						@* <RadzenMenuItem Text="Item2" Value="6"></RadzenMenuItem> *@
					@* </RadzenMenuItem> *@
				@* </RadzenMenuItem> *@
			</RadzenMenu>);

}

<RadzenSplitter
	Orientation="Orientation.Vertical"
	style="border: 1px solid rgba(0,0,0,.08); position: absolute; top: 0; right: 0; bottom: 0; left: 0;"
>
	<RadzenSplitterPane Size="70%">

		<RadzenSplitter Orientation="Orientation.Horizontal">
			<RadzenSplitterPane Size="80%">

				<div
					class="diagram-container"
					@oncontextmenu=@(args => ShowContextMenuWithContent(args))
					@oncontextmenu:preventDefault="true"
				>
					<CascadingValue Value="Diagram" IsFixed="true">
						<DiagramCanvas>
							<Widgets>
								<GridWidget
									Mode="GridMode.Point"
									BackgroundColor="var(--rz-base-900)"
								/>
							</Widgets>
						</DiagramCanvas>
					</CascadingValue>
				</div>

			</RadzenSplitterPane>
			<RadzenSplitterPane>

				<RadzenTabs Style="height: 100%;">
					<Tabs>
						<RadzenTabsItem Text="Graphs" Icon="polyline">

							<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Stretch">

								<RadzenStack Orientation="Orientation.Horizontal">
									<RadzenTextBox Style="flex: 1;" />
									<RadzenButton Text="Save As" Size="ButtonSize.Small" />
								</RadzenStack>

								@*
								<RadzenTable>
									<RadzenTableBody>

										@foreach (var graphFile in Graphs)
										{
											<RadzenTableRow>
												<RadzenTableCell Style="width: 80px;">
													<RadzenStack Orientation="Orientation.Horizontal" Gap="1em">
														<RadzenButton Icon="file_open" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.ExtraSmall" Click="() => LoadGraphFile(graphFile)" />
														<RadzenButton Icon="save" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.ExtraSmall" Click="() => SaveGraphFile(graphFile)" />
													</RadzenStack>
												</RadzenTableCell>
												<RadzenTableCell>@graphFile.Name</RadzenTableCell>
											</RadzenTableRow>
										}

									</RadzenTableBody>
								</RadzenTable>
								*@

								<RadzenDataGrid
									Data="@Graphs"
								>
									<Columns>
										<RadzenDataGridColumn
											Title="Name"
											Property="@nameof(PpGraphFile.Name)"
										/>

										<RadzenDataGridColumn Width="180px">
											<Template Context="graphFile">

												<RadzenStack Orientation="Orientation.Horizontal">
													<RadzenButton Icon="folder_open" Text="Load" Variant="Variant.Outlined" Size="ButtonSize.Small" Click="() => LoadGraphFile(graphFile)" />
													<RadzenButton Icon="save" Text="Save" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Click="() => SaveGraphFile(graphFile)" />
												</RadzenStack>

											</Template>
										</RadzenDataGridColumn>
									</Columns>
								</RadzenDataGrid>

							</RadzenStack>

						</RadzenTabsItem>
						<RadzenTabsItem Text="Node" Icon="toolbar">
							@if (SelectedNode != null)
							{
								@(SelectedNode?.NodeType)

								foreach (var prop in SelectedNode!.NodeProps)
								{
									if (prop is Core.PpNodeParam param)
									{
										<PpNodeParam Param="param" IsInNode="false" />
									}

									@* else if (prop is Core.PpNodePort port) *@
									@* { *@
									@* 	<PpNodePort NodePort="port"/> *@
									@* } *@
								}
							}

						</RadzenTabsItem>
					</Tabs>
				</RadzenTabs>

			</RadzenSplitterPane>
		</RadzenSplitter>

	</RadzenSplitterPane>
	<RadzenSplitterPane>

		<RadzenTabs TabPosition="TabPosition.Top" Style="height: 100%;">
			<Tabs>
				<RadzenTabsItem Text="Data" Icon="table">
					<DataViewer/>
				</RadzenTabsItem>
				<RadzenTabsItem Text="Code" Style="height: 100%;" Icon="code">
					<RadzenStack Orientation="Orientation.Vertical" Style="height: 100%;" Gap=".5em">
						<RadzenMenu>
							<RadzenMenuItem Text="File"/>
						</RadzenMenu>
						<PpCodeEditor/>
					</RadzenStack>
				</RadzenTabsItem>
				<RadzenTabsItem Text="Logs" Icon="graph_2">
					<LogsPanel />
				</RadzenTabsItem>
			</Tabs>
		</RadzenTabs>

	</RadzenSplitterPane>
</RadzenSplitter>


<style>
	.diagram-container {
		width: 100%;
		height: 100%;
		border: 1px solid black; /* Just visual */
	}

	.default-node {
		background-color: var(--rz-secondary-darker);
		border: 1px solid var(--rz-base-600);
		border-radius: 0.25em;
		color: var(--rz-base-50);
	}

	.default-node.selected {
		border: 1px solid var(--rz-base-400);
	}

	.default-node .diagram-port {
		width: 12px;
		height: 12px;
		margin: -6px;
	}

	.rz-tabview-panel {
		height: 100%;
		padding: .5em;
	}
</style>